:root {
  --background: #f2f2f2;
  --font-roboto: 'Roboto', sans-serif;
  --font-playfair: 'playfair', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: var(--background);
}

body {
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
